URxvt.scrollBar: false


URxvt.font:     xft: Mononoki:pixelsize=16:style=bold

URxvt.internalBorder:  50

! special
*.foreground:   #e9edee
*.background:   #1a1c1d
*.cursorColor:  #e9edee

! black
*.color0:       #1a1c1d
*.color8:       #eeece9

! red
*.color1:       #232526
*.color9:       #f6eef1

! green
*.color2:       #2a2d2f
*.color10:      #daeed6

! yellow
*.color3:       #3d4042
*.color11:      #eeeae9

! blue
*.color4:       #1f2122
*.color12:      #dbecf1

! magenta
*.color5:       #2a2d2e
*.color13:      #ebe9ee

! cyan
*.color6:       #323434
*.color14:      #daf0e7

! white
*.color7:       #1e2021
*.color15:      #eeece9

