! special
*.foreground:   #655e57
*.background:   #f2eddc
*.cursorColor:  #655e57

! black
*.color0:       #f2eddc
*.color8:       #655e57

! red
*.color1:       #ae5748
*.color9:       #ae5748

! green
*.color2:       #6d8c4f
*.color10:      #6d8c4f

! yellow
*.color3:       #bea77e
*.color11:      #bea77e

! blue
*.color4:       #628b8d
*.color12:      #628b8d

! magenta
*.color5:       #9b859d
*.color13:      #9b859d

! cyan
*.color6:       #95a8a2
*.color14:      #95a8a2

! white
*.color7:       #888271
*.color15:      #80776b


URxvt*font: xft:iosevka:size=13

URxvt.internalBorder: 25

URxvt.scrollBar: false
